[submodule "operators/cluster-monitoring-operator"]
	path = operators/cluster-monitoring-operator
	url = https://github.com/openshift/cluster-monitoring-operator.git
[submodule "operators/console-operator"]
	path = operators/console-operator
	url = https://github.com/openshift/console-operator.git
[submodule "examples"]
	path = examples
	url = https://github.com/xsgordon/kubevirt-examples/
